<!DOCTYPE html>
<html>
<head>
    <title>MyWay</title>
</head>
<body>
    <h1>MyWay - Your Personalized Career Roadmap</h1>


    <form method="POST" action="/generate">

        <input type="text" name="year" placeholder="What year are you in?">
        <input type="text" name="skills" placeholder="what's your current skills?">
        <input type="text" name="targeted_role" placeholder="what is your targeted role?">
        <input type="text" name="dream_company" placeholder="which is your dream company?">
        <input type="text" name="hours_commitment" placeholder="how many hours you are willing to dedicate?">

        <button type="submit">Generate</button>
    </form>
</body>
</html>